<h1>Orders#list_all</h1>
<% @page_title = "Orders List" %>

<div class="orders list">
	<h2>Orders</h2>
	
	<%= link_to("Add New Order", {:action=> 'new'}, :class => 'action new')%>
	
	<table class="listing" summery="Order list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Order Date</th>
			<th>Complete</th>
			<th>Actions</th>
		</tr>
		<%= @orders.each do |order| %>
		<tr>
			<td><%= order.created_at %></td>
			<td><%= order.confirmed %></td>
			<td class="center"><%= order.confirmed ? 'Yes' : 'No'%></td>
			<td class="action">
				<%= link_to("Show", {:action => 'show', :id => order.id}, :class => 'action show')%>
				<%= link_to("Edit", {:action => 'edit', :id => order.id}, :class => 'action edit')%>
				<%= link_to("Delete", {:action => 'delete', :id => order.id}, :class => 'action delete')%>
			</td>
		</tr>
		<% end %>
	</table>
</div>